.ICEauthority
.Rhistory
.Xauthority
.Xdefaults
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dillo/
.dmrc
.emacs.desktop
.emacs~
.fltk/
.gitconfig
.gksu.lock
.gnome/
.gnupg/
.gstreamer-0.10/
.john/
.kde/
.local/
.mozilla/
.node_repl_history
.npm/
.pki/
.profile
.purple/
.rstudio-desktop/
.scapy_history
.ssh/
.sudo_as_admin_successful
.thumbnails/
.thunderbird/
.vagrant.d/
.wget-hsts
.xchm
.xinputrc
.xscreensaver
.xsession-errors
.xsession-errors.old
Arch/
Calibre Library/
Desktop/
Documents/
Downloads/
Music/
R/
Videos/
id_rsa
kr.crt
kr.key
my-emacs/
projects/
temo/
vikas.log
/.atom/
dev
/.lesshst
/.selected_editor
open/
/test
